h1 {
    font-size: 50px;
    text-align: center;
}

  p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
    padding: 0 10px 0 20px;
  }
html {
    background-color: rgb(130, 140, 158);
  }
  body {
    width: 700px;
    margin: 0 auto;
    background-color: rgb(192, 221, 27);
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  h1 {
    margin: 0;
    padding: 20px 0;    
    color: rgb(10, 146, 28);
    text-shadow: 3px 3px 1px black;
  }
  img {
    display: block;
    margin: 0 auto;
    height: 400px;
    width: 350px;
  }
  h2:hover {
    transform: scale(2);
  }